* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

nav {
  display: flex;
  background-color: rgb(0, 191, 255);
  border-bottom: 2px solid;
  box-shadow: 0 3px 5px;
}
nav > img {
  margin: 0.5em;
  height: 1.85em;
  filter: drop-shadow(0 0 1em white);
}

.app-name {
  font-size: 1.33em;
  font-weight: bold;
  margin: 0.5em 1em;
  color: aliceblue;
  text-shadow: 1px 1px 3px black;
  flex: auto;
  white-space: nowrap;
}
.search-bar {
  align-self: center;
  padding-right: 0.5em;
}
main {
  margin: 0.5em;
}

#todo-container {
  display: flex;
  flex-direction: column;
}
#todo-container > div {
  display: flex;
  justify-content: start;
  border-bottom: 1px solid;
  padding: 0.3em 0;
}

.favorite-toggle:hover,
.completed-toggle:hover {
  cursor: pointer;
}

.todo-text {
  padding-left: 1em;
  flex: auto;
}

main .add-todo::before {
  content: "✚";
  padding-right: 1em;
  padding-left: 0.15em;
}

#new-todo-container {
  color: blue;
}
