* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}
html {
  color: #ddd;
}
body {
  background-color: #272323;
}

nav {
  display: flex;
  background-color: #272222;
  box-shadow: 0 0.5rem 0.5rem hsla(0, 0%, 0%, 0.7);
}
nav > img {
  margin: 0.5em;
  height: 1.85em;
  filter: drop-shadow(0 0 0.13em white);
}

.app-name {
  font-size: 1.33em;
  font-weight: bold;
  margin: 0.5em 1em;
  color: aliceblue;
  text-shadow: 0.1px 0.1px 3px white;
  flex: auto;
  white-space: nowrap;
}
.search-bar {
  align-self: center;
  padding-right: 0.5em;
}

#search-box-todo::placeholder {
  text-align: right;
}

main {
  margin: 0.5em;
  transition: margin-left 0.5s;
}
.list-title {
  line-height: 2.5em;
}

#todo-container {
  display: flex;
  flex-direction: column;
}
#todo-container > div,
#new-todo-container div {
  display: flex;
  justify-content: start;
  border-bottom: 1px solid;
  padding: 0.3em 0;
}
#todo-container div input {
  margin-left: 1em;
}

.favorite-toggle:hover,
.completed-toggle:hover {
  cursor: pointer;
}

.todo-text {
  padding-left: 1em;
  flex: auto;
}

main .add-todo::before {
  content: "✚";
  padding-right: 1em;
  padding-left: 0.15em;
}

#new-todo-container {
  color: blue;
}

.strikethrough {
  text-decoration-line: line-through;
  text-decoration-style: solid;
}

/* side menu for todo metadata */
.side-menu {
  height: 100vh;
  width: 30vw;
  top: 0;
  left: 100vw;
  z-index: 1;
  position: fixed;
  background-color: rgba(8, 16, 58, 0.94);
  transition: 0.5s;
  padding-top: 2em;
}

.side-menu > div {
  white-space: nowrap;
  padding: 1em;
  color: #ddd;
  transition: 0.3s;
}
.side-menu > div:hover {
  background-color: #666;
}

.side-menu .close-menu-button {
  font-size: xx-large;
  width: fit-content;
  height: fit-content;
  padding-left: 0.4em;
  cursor: pointer;
}

.side-menu .close-menu-button:hover {
  color: blue;
}
